import important libraries

In [65]:
import dvc.api
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import sys, os

Import required Modules

In [66]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from file import Myfile
from preprocessing import Preprocess
#from loader import LoadData

##### Initialize class

In [67]:
file = Myfile()
preprocess = Preprocess()

Loading the Data

In [68]:
nbdf = file.read_csv('../data/nb.csv')

--> file read as csv

In [100]:
nbdf.head(10)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
5,392005,"6.565087699999999,3.3844415","6.499696300000001,3.3509075",2021-07-01 10:53:36,2021-07-01 11:27:51
6,392009,"6.6636484,3.3082058","6.6185421,3.301634",2021-07-01 06:39:51,2021-07-01 07:41:12
7,392013,"6.4308171,3.4341552","6.435460000000001,3.4846547",2021-07-01 08:44:09,2021-07-01 09:19:11
8,392014,"6.499156300000001,3.3585173","6.4280911,3.5157172",2021-07-01 06:43:07,2021-07-01 07:27:24
9,392017,"6.535043099999999,3.3316238","6.500039999999999,3.3248596",2021-07-01 06:49:37,2021-07-01 07:30:14

In [70]:
#dldf = pd.read_csv('../data/driver_locations.csv')

In [99]:
dldf.head()

   id  order_id  driver_id driver_action       lat       lng
0   1    392001     243828      accepted  6.602207  3.270465
1   2    392001     243588      rejected  6.592097  3.287445
2   3    392001     243830      rejected  6.596133  3.281784
3   4    392001     243539      rejected  6.596142  3.280526
4   5    392001     171653      rejected  6.609232  3.288800

Data information

In [72]:
nbdf.shape

(536020, 5)

In [73]:
#dldf.shape

In [75]:
nbdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [76]:
#dldf.info()

In [78]:
nbdf.columns

Index(['Trip ID', 'Trip Origin', 'Trip Destination', 'Trip Start Time',
       'Trip End Time'],
      dtype='object')

In [79]:
#nbdf.describe()

#### Pre-Processing

##### Handling datatypes
let convert the Trip Start Time and Trip End Time to date time datatype and the Trip Origin and trip Destination to numeric values.

In [80]:
nbdf = preprocess.convert_to_datetime(nbdf, 'Trip Start Time')
nbdf = preprocess.convert_to_datetime(nbdf, 'Trip End Time')

In [81]:
nbdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  datetime64[ns]
 4   Trip End Time     536019 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 20.4+ MB

In [98]:
#nbdf = preprocess.convert_to_numeric(nbdf, 'Trip Origin')
nbdf['Trip Origin'] = pd.to_numeric(nbdf['Trip Origin'], downcast="float")
nbdf.info()

ValueError: Unable to parse string "6.508813001668548,3.37740316890347" at position 0

##### Null Percentage

In [42]:
#nullpercentage
print(f" Null Percentage : {preprocess.get_missing_data_percentage(nbdf)} %")

 Null Percentage :                   Total    %
Trip Start Time    1651  0.3
Trip End Time         1  0.0
Trip ID               0  0.0
Trip Origin           0  0.0
Trip Destination      0  0.0 %

##### Handling Missing values
from the above null percentage we have got the columns of Trip Start Time and Trip End Time. so let us handle it.

In [96]:
#nbdf = preprocess.drop_duplicate(nbdf)