import important libraries

In [37]:
import dvc.api
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import sys, os

Import required Modules

In [38]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from file import Myfile
from preprocessing import Preprocess
#from loader import LoadData

##### Initialize class

In [39]:
file = Myfile()
preprocess = Preprocess()

Loading the Data

In [26]:
nbdf = file.read_csv('../data/nb.csv')

--> file read as csv

In [11]:
nbdf.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [12]:
#dldf = pd.read_csv('../data/driver_locations.csv')

In [14]:
#dldf.head()

Data information

In [16]:
nbdf.shape

(536020, 5)

In [31]:
nbdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  datetime64[ns]
 4   Trip End Time     536019 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 20.4+ MB

In [17]:
nbdf.columns

Index(['Trip ID', 'Trip Origin', 'Trip Destination', 'Trip Start Time',
       'Trip End Time'],
      dtype='object')

In [21]:
#nbdf.describe()

            Trip ID
count  5.360200e+05
mean   9.910221e+05
std    3.456364e+05
min    3.919960e+05
25%    6.935610e+05
50%    9.910085e+05
75%    1.281570e+06
max    1.637709e+06

#### Pre-Processing

##### Handling datatypes
let convert the Trip Start Time and Trip End Time to date time datatype and the Trip Origin and trip Destination to numeric values.

In [27]:
nbdf = preprocess.convert_to_datetime(nbdf, 'Trip Start Time')
nbdf = preprocess.convert_to_datetime(nbdf, 'Trip End Time')

In [33]:
nbdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  datetime64[ns]
 4   Trip End Time     536019 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 20.4+ MB

In [40]:
nbdf = preprocess.convert_to_float(nbdf, 'Trip Origin')
nbdf = preprocess.convert_to_float(nbdf, 'trip Destination')

AttributeError: 'Preprocess' object has no attribute 'convert_to_float'

##### Null Percentage

In [42]:
#nullpercentage
print(f" Null Percentage : {preprocess.get_missing_data_percentage(nbdf)} %")

 Null Percentage :                   Total    %
Trip Start Time    1651  0.3
Trip End Time         1  0.0
Trip ID               0  0.0
Trip Origin           0  0.0
Trip Destination      0  0.0 %

##### Handling Missing values
from the above null percentage we have got the columns of Trip Start Time and Trip End Time. so let us handle it.